html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style */

/* Bagian Body */
body {
	font: 16px/20px arial, sans-serif;
	background-color: lightgray;
	background-image: url("../img/pattern2.png");
	background-size: 200px;
}

/* Bagian Top-Bar */

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: lightgray;
	z-index: 100;
	border-bottom: #5e5e5e solid 5px;
}

/*Bagian Container Middle*/
.container {
	box-sizing: border-box;
	width: 960px;
	margin: 50px auto;
	background-color: white;
	border: gray solid 2px;
	position: relative;
}

/* Bagian latihan Position */

.twitter {
	text-indent: -99999px;
	display: inline-block;
	height: 200px;
	width: 200px;
	background-image: url(../img/pic.png);
	position: absolute;
	top: -23px;
	right: -28px;
}

/* Bagian Header*/
.header {
	padding: 20px;
}

.judulhalaman {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 10px;
}

.header li {
	display: inline-block;
}

.header li a {
	text-decoration: none;
	color: salmon;
	font-size: 15px;
	margin-right: 7px;
	padding: 3px;
}

.header a:hover {
	font-size: 16px;
	color: white;
	background-color: lightblue;
}

.header li a:active {
	color: lightgray;
}

/* Banner */
.banner {
	height: 250px;
	border-top: salmon solid 4px;
	border-bottom: gray solid 4px;
	background-image: url("../img/pattern1.png")
}

/* Content */
/* Main */
.main {
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}

.main h2 {
	font-size: 25px;
	margin-bottom: 5px;
}

.main .penulis {
	font-size: 13px
}

.main .penulis a {
	text-decoration: none;
	color: salmon;
}

.main p {
	font-size: 15px;
	padding-bottom: 5px;
}

/* Side Bar 1 */

.sidebar1 {
	width: 300px;
	padding: 20px;
	box-sizing: border-box;
	float: right;
}

.sidebar1 h3 {
	font-size: 20px;
	color: #666;
	margin-bottom: 5px;
}

.image img {
	width: 80px;
	height: 80px;
}

.image {
	height: 80px;
	width: 80px;
	float:left;
	border: gray solid 1px;
	margin-right: 12px;
}

.sidebar1 p {
	font: 10px/15px arial, sans-serif;
	text-align: justify;
}

/* Footer */

.footer {
	height: 40px;
	background-color: #111;
	padding: 10px;
	line-height: 40px;
}

.copy {
	font-size: 15px;
	color: #fdfdfd;
	text-align: center;
}

.copy a {
	color: white; 
}


/* Clear Fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}